.ant-menu.ant-menu-dark .ant-menu-item-selected{
  background-color: #001529 !important;

}
.ant-menu-dark .ant-menu-item-selected{
  border-bottom: 1px solid #FFFFFF !important;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar { width: 0; }

.ant-upload-picture-card-wrapper{
  width: auto !important;
}
p{
  margin-bottom: 0em !important;
}